/* TOP */

body {
  margin: 0;
  padding: 0;
  font: .70em/1.5em  Verdana, Tahoma, Helvetica, sans-serif;
  color: #666666; 
  background: #FFFFFF; /*#BFBFBF;*/
/*
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 100%, #BFBFBF, #BFBFBF);
  background-size: cover;
  background-repeat: no-repeat;
*/
  text-align: center;
}

/*
html, body {
 margin: 0;
 height: 150px;
 border-bottom: 5px solid #228B22;
}
*/

/* LINKS */
a { 
  color: #228B22;
  background-color: inherit;
  text-decoration: none;
}
a:hover {
  color: #666666;
  background-color: inherit;
}

/* HEADERS */
h1, h2, h3 {
  font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
  color: #333;
}

h1 { font-size: 1.5em; color: #228B22; } 
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }

h1, h2, h3 {
  margin: 24px 15px 0 15px;
}

p {
  margin: 10px 15px;
}

ul, ol {
  margin: 10px 30px;
  padding: 0 15px;
}

ul span, ol span {
  color: #666666; 
}

li {
  margin-top: 8px;
}

/* MAIN */
#main {
  /*float: left;*/
  text-align: justify;
  margin-left: 15px;
  padding: 0;
  color: #000000;
  font: 14px Sans-serif, 'trebuchet MS', Sans-serif;
  width: 97%;	
}

/* HEADER */
#header {
  position: relative;
  height: 135px;	
  border-bottom: 5px solid #228B22;
  background: #FFFFFF    
}

#header h1#logo {
  margin: 0; 
  padding: 0;
  position: absolute;
  top: 14px; 
  left: 5px;
}

#header h1#logo img {
  border: 0;
}

#header h1#title {
  position: absolute;
  margin: 0; 
  padding: 0;
  font: bolder 4.5em 'Trebuchet MS', Arial, Sans-serif;
  letter-spacing: -2px;
  text-transform: uppercase;
  top: 4px; 
  left: 120px;		
}

#header h2#slogan {
  position: absolute;	 
  margin: 0; 
  padding: 0;
  top: 65px; 
  left: 121px;
  color: #000000;
  text-indent: 0px;
  font: bold 16px Tahoma, 'trebuchet MS', Sans-serif; 
  text-transform: none;	
}

/* LAYOUT */
#wrap {
  background: #FFF;
  width: 70%; 
  height: 100%;
  max-width: 2048px;
  margin: 0 auto;
  text-align: left;
}
#content-wrap {
  clear: both;
  margin: 0;
  padding: 0;
  background: #FFF;
}

.license_section { 
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; 
  font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 1em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px 
}

.git_access_section {
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; 
  font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 2em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px
}

.git_clone_section {
  text-align: left; 
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10pt;
  padding: 1em 0.5em 1em 1em; 
  margin: 0.5em 0.5em 3em 1em;
  width: 60%;
  background: #f7f7f7;
  border: 2px solid #cccccc;
  width: 800px;
}

.download_section { 
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; 
  font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 2em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px 
}

.authors_section { 
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 1em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px
}

.document_section { 
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 1em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px
}

.paper_section {
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 1em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px
}

.theses_section {
  vertical-align: middle;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia,Palatino,Times,Roman";
  font-weight: bold; font-size: 14pt;
  background: url("../images/lines.gif");
  color: #000000;
  margin: 1em 0.5em 1em 0.4em;
  padding-left: 1em;
  width: 330px
}

/* FOOTER */
#footer { 
  clear: both; 
  color: #FFF; 
  background: #BFBFBF; 
  border-top: 5px solid #228B22;
  margin: 0; 
  padding: 0; 
  height: 50px;	  
  font-size: 105%;		
}
#footer a { 
  text-decoration: none; 
  font-weight: bold;	
  color: #FFF;
}
#footer .footer-content{

}

/* MENU TABS */
#header ul {
  z-index: 999999;
  position: absolute;
  margin:0; padding: 0;
  list-style:none;
  right: 0; 
  height: 17.8px;
  bottom: 6px !important; bottom: 5px;
  font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;	
}
#header li {
  display: inline;
  margin: 0; 
  padding: 0;
}
#header a {
  float: left;
  margin: 0;
  padding: 0 0 0 1px;
  text-decoration: none;
}
#header a span {
  float: left;
  display: block;
  background: #BFBFBF;
  border-bottom: 1px solid #228B22;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 6px 8px 3px 8px;
  color: #FFF;
}

/* IE */
#header a span {float:none;}

#header a:hover span {
  color: #FFF;
}
#header a:hover {
  background-position: 0% -42px;
}
#header a:hover span {
  background-position: 100% -42px;
  background-color: #228B22;
}
#header #current a {
  background-position: 0% -42px;
  color: #FFF;
}
#header #current a span {
  background-position: 100% -42px;
  background-color: #228B22;
  color: #FFF;
}

.align-center  { text-align: center; }
